@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Roboto", sans-serif !important;
}
.messageContainer[data-theme="light"] {
  --background-color: #ddd5f9;
  --primary-color-rgb: 255, 255, 255;
  --primary-color: #fff6f6;
  --text-left-color: #535353;
  --secondary-color: #8b5afa;
  --secondary-left-color-hover: #f5f5f5;
  --secondary-right-color-hover: #6c43d4;
  --text-color: #000000;
}
.messageContainer[data-theme="dark"] {
  --background-color: #28282a;
  --primary-color-rgb: 83, 83, 83;
  --primary-color: #535353;
  --text-left-color: #ffffff;
  --secondary-color: #8b5afa;
  --secondary-right-color-hover: #6c43d4;
  --secondary-left-color-hover: #414040;
  --text-color: #ffffff;
}
.modal-overlay[data-theme="light"] {
  --modal-background: #fff;
  --modal-title-color: #6d28d9;
  --input-bg: white;
  --input-text: #111827;
  --input-border: #d1d5db;
}
.modal-overlay[data-theme="dark"] {
  --modal-background: #2d3748;
  --modal-title-color: #ded9ca;
  --input-bg: #374151;
  --input-text: #ffffff;
  --input-border: #4b5563;
}
.App {
  height: 100vh;
  width: 100%;
}
.messageContainer {
  background-color: var(--background-color);
  height: 100vh;
}
.messageHeader {
  background-color: rgba(var(--primary-color-rgb), 0.4);
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.messageTitle {
  color: var(--text-color);
}
.messageDescription {
  margin-top: -5px;
  color: var(--text-left-color);
  font-size: 14px;
  font-weight: bold;
}

.messagesLayout {
  height: 62%;
  overflow-y: scroll;
  padding: 10px 20px 0px 20px;
  margin: 5% auto 0 auto;
  width: 80%;
  scrollbar-width: thin !important;
  scrollbar-color: var(--secondary-color) !important;
  scroll-behavior: smooth !important;
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
}
.message-right {
  color: #fff;
  text-align: right;
  background-color: var(--secondary-color);
  padding: 12px 18px;
  border-radius: 15px 15px 15px 15px;
  font-size: 18px;
  max-width: 60%;
  align-self: flex-end;
  line-break: anywhere;
}
.message-right ::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  border-top: 30px solid transparent;
  border-right: 35px solid var(--secondary-color);
  border-top-right-radius: 6px;
}
.messageUser-right {
  color: var(--text-left-color);
  font-size: 12px;
  margin-bottom: 4px;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}
.message-left {
  color: var(--text-left-color);
  text-align: left;
  background-color: var(--primary-color);
  padding: 12px 18px;
  border-radius: 15px 15px 15px 15px;
  font-size: 18px;
  max-width: 60%;
  align-self: flex-start;
  line-break: anywhere;
}
.message-right:hover {
  background-color: var(--secondary-right-color-hover);
}
.message-left:hover {
  background-color: var(--secondary-left-color-hover);
}
.message-right:hover ::before {
  border-right: 35px solid var(--secondary-right-color-hover);
}
.message-left:hover ::before {
  border-bottom: 30px solid var(--secondary-left-color-hover);
}
.message-left ::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  border-bottom: 30px solid var(--primary-color);
  border-right: 35px solid transparent;
  border-top-right-radius: 6px;
}
.messageUser-left {
  color: var(--text-left-color);
  font-size: 12px;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
}

.messageForm {
  height: 10%;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  background-color: var(--background-color);
  padding: 10px 20px;
}

.messageInput {
  height: 50px;
  width: 80vw;
  border-radius: 30px;
  padding: 0 30px;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s;
}

.messageInput:focus {
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
}

.button-send {
  color: var(--secondary-color);
}

button:hover .button-send {
  color: var(--secondary-color-hover);
}
.modal-overlay {
  position: fixed; /* fixed */
  top: 0; /* inset-0 (top, right, bottom, left are 0) */
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(75, 85, 99, 0.5);
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  z-index: 50; /* z-50 */
}
.modal-content {
  background-color: var(--modal-background); /* bg-white */
  padding: 1.5rem; /* p-6 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
  max-width: 24rem; /* max-w-sm (384px) */
  margin: 0 auto; /* mx-auto */
}
.modal-title {
  font-size: 1.5rem; /* text-2xl (24px) */
  font-weight: 600; /* font-semibold */
  margin-bottom: 1rem; /* mb-4 */
  color: var(--modal-title-color); /* text-gray-900 */
}
.modal-input {
  width: 100%; /* w-full */
  padding: 0.5rem; /* p-2 */
  border: 1px solid var(--input-border); /* border border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  outline: none; /* focus:outline-none */
  background-color: var(--input-bg); /* bg-gray-50 */
  color: var(--input-text); /* text-gray-900 */
}

.modal-input:focus {
  box-shadow: 0 0 0 2px #6366f1; /* focus:ring-2 focus:ring-indigo-500 */
}
.date-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-right-color);
  gap: 10px;
}
.date-left {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-right-color);
  gap: 6px;
}
