@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Roboto", sans-serif !important;
}
.messageContainer[data-theme="light"] {
  --background-color: #ddd5f9;
  --primary-color-rgb: 255, 255, 255;
  --primary-color: #fff6f6;
  --text-left-color: #535353;
  --secondary-color: #8b5afa;
  --secondary-left-color-hover: #f5f5f5;
  --secondary-right-color-hover: #6c43d4;
  --text-color: #000000;
}
.messageContainer[data-theme="dark"] {
  --background-color: #28282a;
  --primary-color-rgb: 83, 83, 83;
  --primary-color: #535353;
  --text-left-color: #ffffff;
  --secondary-color: #8b5afa;
  --secondary-right-color-hover: #6c43d4;
  --secondary-left-color-hover: #414040;
  --text-color: #ffffff;
}
.App {
  height: 100vh;
  width: 100%;
}
.messageContainer {
  background-color: var(--background-color);
  height: 100vh;
}
.messageHeader {
  background-color: rgba(var(--primary-color-rgb), 0.4);
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.messageTitle {
  color: var(--text-color);
}
.messageDescription {
  margin-top: -5px;
  color: var(--text-left-color);
  font-size: 14px;
  font-weight: bold;
}

.messagesLayout {
  height: 62%;
  overflow-y: scroll;
  padding: 10px 20px 0px 20px;
  margin: 5% auto 0 auto;
  width: 80%;
  scrollbar-width: thin !important;
  scrollbar-color: var(--secondary-color) !important;
  scroll-behavior: smooth !important;
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
}
.message-right {
  color: #fff;
  text-align: right;
  background-color: var(--secondary-color);
  padding: 12px 18px;
  border-radius: 15px 15px 15px 15px;
  font-size: 18px;
  max-width: 60%;
  align-self: flex-end;
  line-break: anywhere;
}
.message-right ::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  border-top: 30px solid transparent;
  border-right: 35px solid var(--secondary-color);
  border-top-right-radius: 6px;
}
.messageUser-right {
  color: var(--text-left-color);
  font-size: 12px;
  margin-bottom: 4px;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}
.message-left {
  color: var(--text-left-color);
  text-align: left;
  background-color: var(--primary-color);
  padding: 12px 18px;
  border-radius: 15px 15px 15px 15px;
  font-size: 18px;
  max-width: 60%;
  align-self: flex-start;
  line-break: anywhere;
}
.message-right:hover {
  background-color: var(--secondary-right-color-hover);
}
.message-left:hover {
  background-color: var(--secondary-left-color-hover);
}
.message-right:hover ::before {
  border-right: 35px solid var(--secondary-right-color-hover);
}
.message-left:hover ::before {
  border-bottom: 30px solid var(--secondary-left-color-hover);
}
.message-left ::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  border-bottom: 30px solid var(--primary-color);
  border-right: 35px solid transparent;
  border-top-right-radius: 6px;
}
.messageUser-left {
  color: var(--text-left-color);
  font-size: 12px;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
}

.messageForm {
  height: 10%;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  background-color: var(--background-color);
  padding: 10px 20px;
}

.messageInput {
  height: 50px;
  width: 80vw;
  border-radius: 30px;
  padding: 0 30px;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s;
}

.messageInput:focus {
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
}

.button-send {
  color: var(--secondary-color);
}

button:hover .button-send {
  color: var(--secondary-color-hover);
}
